In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
plt.rcParams['figure.figsize'] = (15, 10)

In [2]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [3]:
DF = pd.read_csv('executive-flat-data.csv')
#DF= DF.drop(['Unnamed: 0'],axis=1)
DF.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,storey,town_premium,flat_model_premium
0,2017-01,ANG MO KIO,EXECUTIVE,613,ANG MO KIO AVE 4,07 TO 09,147,Apartment,1996,78,888000.0,8,150000,-62000
1,2017-03,ANG MO KIO,EXECUTIVE,616,ANG MO KIO AVE 4,07 TO 09,149,Apartment,1996,78,820000.0,8,150000,-62000
2,2017-04,ANG MO KIO,EXECUTIVE,614,ANG MO KIO AVE 4,04 TO 06,149,Apartment,1996,78,770000.0,5,150000,-62000
3,2017-06,ANG MO KIO,EXECUTIVE,615,ANG MO KIO AVE 4,04 TO 06,149,Apartment,1996,77,750000.0,5,150000,-62000
4,2017-07,ANG MO KIO,EXECUTIVE,615,ANG MO KIO AVE 4,07 TO 09,156,Apartment,1996,77,860000.0,8,150000,-62000

In [4]:
# y is the resale_price, target variable for our model
y = DF[['resale_price']]
y.head()

   resale_price
0      888000.0
1      820000.0
2      770000.0
3      750000.0
4      860000.0

In [5]:
# x is the input variable that will be used to predict resale price. we have used almost all the data columns we have in dataset.
x = DF[['month','floor_area_sqm','remaining_lease','storey','town_premium','flat_model_premium']]

In [6]:
x.head()

,month,floor_area_sqm,remaining_lease,storey,town_premium,flat_model_premium
0,2017-01,147,78,8,150000,-62000
1,2017-03,149,78,8,150000,-62000
2,2017-04,149,78,5,150000,-62000
3,2017-06,149,77,5,150000,-62000
4,2017-07,156,77,8,150000,-62000

In [7]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)#random_state)

In [8]:
#double check the input data/ target variable size information. 
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(8485, 6) (8485, 1)
(2122, 6) (2122, 1)

In [9]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)

ValueError: could not convert string to float: '2020-10'

In [ ]:
predictions = lm.predict(X_test)

In [ ]:
model.coef_

In [ ]:
plt.scatter(y_test, predictions)
plt.xlabel("True Values")
plt.ylabel("Predictions")

In [ ]:

#Returns the coefficient of determination R^2 of the prediction.
print ("Score:", model.score(X_test, y_test))

In [ ]:
from sklearn import ensemble
clf2 = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth=5, min_samples_split = 2, learning_rate=0.1, 
                                          loss = 'squared_error')
clf2.fit(X_train,y_train.values.ravel())

In [ ]:
clf2.score(X_test,y_test)

In [ ]:
clf2.feature_importances_

In [ ]:
clf2.predict([[95,87,41,113500,228000]])

In [ ]:
filename = 'executive_prediction_model'
pickle.dump(clf2, open(filename, 'wb'))